body {
  background: url("img/bg-img.jpg") no-repeat center center/cover;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

form {
  margin-bottom: 100px;
}
.container {
  max-width: 400px;
}

.icon {
  position: relative;
  top: -100px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

footer {
  margin-bottom: 5px;
}
